<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserBaseInfoDao">

    <insert id="insertOneDB" parameterType="com.example.demo.entity.UserBaseInfo">
        insert into user_base_info (age,name) VALUES (
        #{age},
        #{name}
        )
    </insert>
    <insert id="insertTwoDB" parameterType="com.example.demo.entity.UserBaseInfo">
        insert into user_base_info (age,name) VALUES (
        #{age},
        #{name}
        )
    </insert>

</mapper>